---
Checks: ',misc-*,altera-id-dependent-backward-branch,-misc-no-recursion,-clang-diagnostic-incompatible-library-redeclaration'
WarningsAsErrors: ''
HeaderFilterRegex: '(src|include|enhancements)\/.*\.h$'
FormatStyle: 'file'
CheckOptions:
